{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <main class="pt-5">

        <div class="container">
            <div class="profile">

                <div class="profile-image">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="">
                    {% else %}
                        <img src="{% static 'default-user.png' %}" alt="">
                    {% endif %}
                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{ user.username }}</h1>

                    <button class="btn profile-edit-btn">Edit Profile</button>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                                                                                              aria-hidden="true"></i>
                    </button>

                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{ user.post_set.all.count }}</span> posts</li>
                        <li><span class="profile-stat-count">{{ user.following.all.count }}</span> followers</li>
                        <li><span class="profile-stat-count">{{ user.follower.all.count }}</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">

                    <p>
                        {% if user.bio %}
                            {{ user.bio }}
                        {% else %}
                            Bio is not set
                        {% endif %}
                    </p>

                </div>

            </div>
            <!-- End of profile section -->
            <div class="row" style="display: flex; justify-content: center;">

                    <ul class="profile-stats">
                        <li class="nav-item"><a class="nav-link active">POSTS</a></li>
                        <li class="nav-item"><a class="nav-link disabled">SAVED</a></li>
                        <li class="nav-item"><a class="nav-link disabled">TAGGED</a></li>
                    </ul>
            </div>
            <div class="row gallery">
                {% for post in user.post_set.all %}
                    <div class="col-4">
                        <div class="gallery-item" tabindex="0">
                            {% if post.postfilecontent_set.first.type == "img" %}
                                <img src="{{ post.postfilecontent_set.first.file.url }}"
                                     class="gallery-image" alt="">
                            {% else %}
                                <video width="320" height="240" controls>
                                    <source src="{{ post.postfilecontent_set.first.file.url }}" type="video/mp4">
                                </video>
                            {% endif %}
                            <div class="gallery-item-info">

                                <ul>
                                    <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                            class="fas fa-heart" aria-hidden="true"></i> {{ post.like_set.all.count }}
                                    </li>
                                    <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                            class="fas fa-comment" aria-hidden="true"></i> 2
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- End of gallery -->

            <div class="loader"></div>

        </div>
        <!-- End of container -->

    </main>
{% endblock content %}
